@charset "UTF-8";

img {
    max-width: 100%;
}
ul {
    list-style: none;
}
body {
    width: 100%;
    min-height: 100vh;
    letter-spacing: 1px;
}
.wrapper {
    width: 100%;
    text-align: center;
    align-items: center;
}
.main-wrapper {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);

}
/* all page - header ==============================*/ 
.header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-img {
    height: 65px;

}
  
.nav a:link {
    color: #0B6446;
}
.nav a:visited {
    color: #0B6446;
}
.nav a:hover {
    text-decoration: none;
    color: #455e85;
}
.nav a:active {
    text-decoration: none;    
}
.nav-ul {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-ul li {
    display: flex;
    align-items: center;
}
.nav-ul a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    font-weight: bold;
    color: #0B6446;
    font-size: 1.2rem;
}
.nav-ul img {
    width: 20px;
    height: 20px;
}
.header-settings-link {
	width: 100%;
}

/* モーダル表示 ====================================== */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* body ====================================== */

.green-l-body {
    background-color: #ffffff;
    border: solid #0B6446;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gray-back-body {
    background-color: #F5F5F5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* title ====================================== */
.green-title-section {
    background-color: #0B6446;
    color: #ffffff;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.green-title {
    margin: 10px;
}

.white-title-section {
    background-color: #FFFFFF;
    color: #0B6446;
    width: 100%;
    text-align: center;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}
.white-title {
    margin: 10px;
}

/* ボタン共通 =========================================  */
.orange-btn, .light-orange-btn {
	margin: 20px;
	padding: 20px 60px;
	font-size: 32px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: transform 0.1s ease-in-out, box-shadow 0.2s;
	
}


/* TOPに戻るボタン */
.task-form-btn, .to-top-btn {
	font-size: 1.3rem;
    padding: 10px;
    margin: unset;
    width: 150px;
    text-align: center;
    margin: 30px 50px;
}

.orange3-btn {
  background-color: #006432;
  color: #fff; /* 必要に応じて白なら #fff */
  border: none;
  padding: 20px 40px;
  border-radius: 40px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 120px;
  font-size: 20px;
}

.light-orange3-btn {
  background-color: #ff9800;
  color: #fff;
  border: none;
  padding: 20px 40px;
  border-radius: 40px;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  margin-left: 120px;
}

.orange3-btn:hover,
.light-orange3-btn:hover {
  opacity: 0.8;
}

.highlight {
  font-weight: bold;
  color: #ff867c; /* グレープフルーツっぽい赤ピンク */
}

#space{
	justify-content: space-between;
	margin-top: 80px;
}

#submitModal {
  position: fixed;
  top: 0%;              /* 画面上からの距離 */
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  border: none;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  text-align: center;
  width: 40%;
  height: 260px;
} 

#modalMessage{
	font-size: 20px;
}



