@charset "UTF-8";

body {
  background: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ログインボックス */
.login-container {
  background: white;
  padding: 60px 70px;
  border-radius: 10px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.15);
  width: 400px;
  text-align: center;
}

.login-container2 {
  background: white;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.15);
  width: 550px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  text-align: left;
  font-weight: 600;
  margin-bottom: 3px;
  color: #333;
}

input[type="text"],
input[type="password"],
select {
  background-color: #fef2e7;
  padding: 12px 15px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 25px;
  transition: border-color 0.3s ease;
  outline: none;
}
h1{
	font-size:50px;
}

table{
  width: 90%;
  border-collapse: separate;
  border-spacing: 0 20px;
  margin: 0 auto;
}

th, td {
  text-align: center;
  padding: 3px 0;
}


tr:last-child {
  border-bottom: none;
}

th {
  width: 40%;
  color: #555;
  font-weight: 600;
}

td {
  color: #333;
  font-weight: 400;
}

.card-label {
  margin: 0;              /* 上下マージンなし */
  padding: 5px 5px;     /* 適度な内側余白 */
  background-color: #4CAF50;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}


.green-btn {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  width: 230px;
  height: 70px;
  margin: 0 auto;
  background-color: #006432;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.orange-btn {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	border: none;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  width: 230px;
  height: 70px;
  margin: 0 auto;
  background-color: #FFA500;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.light-orange-btn{
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	border: none;
	border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  width: 230px;
  height: 70px;
  margin: 0 auto;
  background-color: #ffcc6f;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.button-wrapper{
	display: flex;
	justify-content: center;
	gap: 100px;
}

#categoryy{
	background-color: #fef2e7;
  padding: 12px 15px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 25px;
  transition: border-color 0.3s ease;
  outline: none;
}

.login-container2 table th,
.login-container2 table td {
    font-size: 20px; /* テーブルの文字サイズ */
    padding: 15px 10px;
    padding-left: 20px;
    border-bottom: 3px solid #ccc;
    text-align: center;
}

/* 最後の行だけ下線を消す */
.login-container2 table tr:last-child th,
.login-container2 table tr:last-child td {
  border-bottom: none;
}

#back{
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	border: none;
	border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  width: 120px;
  height: 40px;
  margin: 0 auto;
  background-color: #ffcc6f;
  font-size: 23px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
	
}

#check{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: none;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  width: 170px;
  height: 60px;
  margin: 0 auto;
  background-color: #FFA500;
  font-size: 21px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}















