@charset "UTF-8";

.help{
    height: 650px;
    width: 95%;
    overflow-y: auto;
    border: 2px solid rgb(29, 95, 46);
    border-radius: 0.5em;
    margin: 5px auto 5px auto;
    
    
}
.explain{
    color: aliceblue;
    background-color: rgb(29, 95, 46);
    border-bottom: solid 3px rgb(201, 201, 201);
    text-align: center;
    font-weight: normal;
    margin: 0 0 0 0;
    position: sticky;
    top: 0;
}
.topic{
    margin: 10px 20% 10px 20%;
    color: rgb(29, 95, 46);
     border-bottom: solid 3px#ffcf32;
}

.top, .regist, .list, .record, .account{
      margin: 20px auto 20px auto;
      
}

.helpText{
    margin: 10px 20% 10px 20%;
    list-style: square;
    color:  rgb(29, 95, 46);
    
}