@charset "UTF-8";

.task-regist-body {
    width: 55%;
}

.task-formsection {
	display: flex;
	justify-content: space-between;
}
.task-regist-formbody {
    background-color: #FEF8E2;
   	padding: 30px 50px;
    border-radius: 5px;
    border: 1px solid #0B6446;
    margin: 30px;
}
.task-regist-title-form {
	display: flex;
    flex-direction: column;
}
.task-title-tips {
	color: #FFFFFF;
	background-color: #0B6446;
	border-radius: 50px;
	width: 120px;
	text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.task-select {
	height: 40px;
}

.align-i-c {
	align-items: center;
}
.task-regist-input {
	width: 220px;
}
.w-form {
	width: 100%;
}



/*task_view.jsp*/

/*タスク一覧表示の外枠スタイル*/
.task-view-body {
	margin: 20px;
}
.TaskViewOutline{ 
	margin: 20px 40px 10px 40px;
	border-radius: 10px;
	overflow-y: auto;
	height: 440px;
	border: solid #0B6446
}

/*tableTopのスタイル*/
.Ttop {
    position: sticky;
    top: 0;
    z-index: 1;
}

/*tableBodyのスタイル*/
.Tbody{
	height: 80px;
	border-bottom: solid #0B6446;
}

/*タスク一覧のtitleに対するスタイル*/
.taskTitle{
	color: #0B6446;
	background-color: #FFF9E4;
	border: 1px solid #0B6446;
	border-radius: 5px;
	width: 100%;
	align-items: center;
	text-align: center;
	font-size: 25px;
    flex-direction: column;
    margin: 10px 0 10px 0;
    
}

/*汎用css*/
/*ボタンを横並べにする為にボタンを囲っているdivに設定するスタイル*/
.BtnSideBy{
	display: flex;
    justify-content: space-between;
    width: 100%;
}

.task-regist-button-section{
	display: inline-flex;
}
.LeftPositionBtn{
	margin-left: 40px;
	align-items: left;
}

/*タスク一覧内のタスク内容変更ボタンのスタイル*/
.edit-button{
	color: white;
	background-color: #006432;
	border: 1px solid #0B6446;
	border-radius: 50px;
}

/*タスク一覧内のタスク削除ボタンのスタイル*/
.delete-button{
	color: white;
	background-color: #ff9800;
	border: 1px solid #ff9800;
	border-radius: 50px;
}

.RightPositionBtn{
	margin-right: 40px;
	align-items: right;
}

.green-btn{
	 background-color: #006432;
	 font-size: 20px;
 	 color: white;
	border-radius: 50px;
 	 display: block;
	margin: 20px auto;
}
.task-delete-form {
	padding: 30px 50px;
}
.task-edidel-item {
	width: 85%;
}

/* アラートモーダル */
.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 9999;
}
.alert-modal-content {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 320px;
}
.alert-button-area {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
