@charset "UTF-8";

.task-regist-body {
    background-color: #ffffff;
    width: 55%;
    border: solid #0B6446;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-formsection {
	display: flex;
}
.task-regist-formbody {
    background-color: #ffffff;
}
.task-regist-title-form {
	display: flex;
    flex-direction: column;
}